<%- include('partials/header') -%>
<body class="container bg">
    <div>
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="container clear m2 card">
            <span><%= posts[i].title %></span>
            <a href="/post/<%= posts[i]._id%>">
              <img class="card-img-top" src="<%= posts[i].image%>">
            </a>
            <div class="card-body">
              <span><%= posts[i].userName %></span>
              <p><%= posts[i].caption %></p>
            </div>
          </div>
        <% } %>
    </div>
</body>  
<%- include('partials/navBar') -%>
<%- include('partials/footer') -%>