<%- include('partials/header') -%>
<body class="container bg bgPost">
    <div class="container">
      <div class="">
        <h2 class="col"><%= post.title %></h2>
        <img class="img-fluid col" src="<%= post.image%>" />
        <div class="row justify-content-start my-1">
          <form
            class="col"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class="col btn btn-primary" type="submit"><i class="fa fa-heart mx-1"></i><%= post.likes %></button>
          </form>
          <%if(post.user == user.id){ %>
            <!-- add edit form/button here -->
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class=""
          >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
          <%}%>
        </div>
      </div>
      <div class="">
        <p><%= post.caption %></p>
      </div>
      <div class="my-1">
        <%= post.description %>
      </div>
      <div class="my-1">
        <form action="/comments/postComment/<%= post._id%>" method=POST>
          <input class="mr-auto" type="text" placeholder="share your thoughts..." name="comment"></input>
          <input type="submit" value="Post">
        </form>
      </div>
      <div id="comment">
        <% for(var i=0; i<comments.length; i++) {%>
          <span>
            <%= comments[i].userName %>
          </span>
          <div>
            <%= comments[i].comment %>
          </div>
        <% } %>
      </div>
      <div class="">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
    </div>
</body>
<%- include('partials/navBar') -%>
<%- include('partials/footer') -%>
